:root {
    --main-font:'Ubuntu', sans-serif;
    --second-font:'roboto', sans-serif;
    --darkblue: #005F73;
    --lightblue:#0A9396;
    --greenblue:#94D2BD;
    --yellow: #E9D8A6;

}

html {
    height: 100%;
    width: 100%;
    
    box-sizing: border-box;
    
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin:0; 
}

body {
    height: 100%;
    margin:0px;
   }

* {
    font-family: var(--second-font);
}

h2 {
    font-family: var(--second-font);
}

.section-exhibtion {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:50px;
    gap: 40px;
}

.cosmology {
    background: #E9D8A6;
}

.ecology {
    background: var(--lightblue);
}

.special-events img {
   width: 100%;
   border-radius: 30px;

}

i {
    text-align: center;
}

.card-exibiton-info {
    background: var(--greenblue);
    border-radius: 30px;
    padding:40px;
    gap:10px;
    margin:0;
}

h2 {
    font-family: var(--main-font);
}

p {
    font-weight:250;
}

.hero-get-invovled {
    width: 100%;
    background-image:url("/images/lab51.jpg") ;
    height:400px;
    background-size: cover; 
    background-color: rgba(red); 
    
}




@media screen and (min-width: 768px) 




   
