:root {
    --main-font:'Ubuntu', sans-serif;
    --second-font:'roboto', sans-serif;
    --darkblue: #005F73;
    --lightblue:#0A9396;
    --greenblue:#94D2BD;
    --yellow: #E9D8A6;

}

html {
    height: 100%;
    width: 100%;
    
    box-sizing: border-box;
    
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin:0; 
}

body {
    height: 100%;
    margin:0px;
   }

* {
    font-family: var(--second-font);
}

h2 {
    font-family: var(--second-font);
}

p {
    font-weight:250;
}


h1 {
    font-size: 3em;
    margin:40px;
    text-align:center;
}

.section-get-involved {
    background:#E9D8A6;
    padding:30px;
    margin:20px;
    border-radius: 20px;
   

}

.volunteer {
    background: var(--lightblue);
}

.internship {
    background: var(--greenblue);

}

img {
    width: 100%;
    border-radius: 30px;
}

h2 {
    margin: 5px 0px;
}


@media screen and (min-width: 768px) {

.section-get-involved {

    display: flex;
    flex-direction:row;
    justify-content: space-around;
  
    
   
}

.volunteer {
flex-direction: row-reverse;
}


img {
   width: 400px;
   object-fit: contain;
   flex: 1;
margin-right:10px;
 
}

.get-involved-text {
   width: 700px;
   flex: 1;

}

.voluteneer-text {
    margin-right: 20px;
    
}


}






   
