:root {
    --main-font: "Ubuntu", sans-serif;
    --second-font: "roboto", sans-serif;
    --darkblue: #005f73;
    --lightblue: #0a9396;
    --greenblue: #94d2bd;
    --yellow: #e9d8a6;
  }
  
  html {
    height: 100%;
    width: 100%;
  
    box-sizing: border-box;
  }
  html:focus-within {
    scroll-behavior: smooth;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }
  
  body {
    height: 100%;
    margin: 0px;
  }
  
  * {
    font-family: var(--second-font);
  }
  
  h2 {
    font-family: var(--second-font);
  }
  
  p {
    font-weight: 250;
  }
  
  h1 {
    font-size: 3em;
    margin: 40px;
    text-align: center;
  }
  
  .section-get-involved {
    background: #e9d8a6;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
  }
  
  .volunteer {
    background: var(--lightblue);
  }
  
  .internship {
    background: var(--greenblue);
  }
  
  .get-involved-text {
    line-height: 1.5;
  }
  
  img {
    width: 100%;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
  }
  
  /* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  margin:auto;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
}

form {
  margin:auto;
}
  

  @media screen and (min-width: 768px) {
    .section-get-involved {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .volunteer {
      flex-direction: row-reverse;
    }
  
    img {
      width: 400px;
      object-fit: contain;
      flex: 1;
      margin-right: 10px;
    }
  
    .get-involved-text {
      width: 300px;
      margin-left: 20px;
      flex-grow: 1;
      max-width: 500px;
    }
  
    .volunteer-text {
      margin-left: 0px;
      margin-right: 20px;
    }

    

    .contact-museum-text {
    margin:30px;
    font-size: 2em;
    }
    .get-involved {
      text-decoration: underline;
    }

    form {
      max-width: 700px;
    }

    .submit-button {
      max-width: 100px;
      margin:auto;
    }

    fieldset {
     
    }
  }
  