@import "css/styles.css";

html {
    height: 100%;
    
    box-sizing: border-box;
    
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin:0;
    overflow-x: hidden;
    
   
    
   }

   :root {
    --main-font:'Ubuntu', sans-serif;
    --second-font:'roboto', sans-serif;
    --darkblue: #005F73;
    --lightblue:#0A9396;
    --greenblue:#94D2BD;
    --yellow: #E9D8A6;

}

   body {
    height: 100%;
    margin:0px;
    
   }

   header {
    background: var(--darkblue);
    padding:30px;
   }



   h1 {
    font-family: var(--main-font);
   }

   h2 {
    font-family: var(--second-font);
   }

   .section-cards {
    display:Flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 400px;
    max-width: 1500px;
    margin:20px;

    
   
   }
   

  .card-visit-info {
    width: 350px;
    background: #005F73;
    margin:5px;
    padding:40px 20px;
  
  

   
   
  }

  p {
    font-family: var(--second-font);
    font-size: 1px;
    font-weight: lighter;

  }

 .guided {
    background: #0A9396;
 }			

 .Accessibility {
    background: #94D2BD;
 }

 .shop {
    background: #94D2BD;

 }

 .location{
    background: #0A9396;

 }

 .fa-solid {
    background: white;
    padding:50px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px; 
 }

 p {
    font-size: 18px;
   
 }

 .boy-museum {
    width: 100%;
 }

 .card-icon {
    display:flex;
    justify-content: center;
  }

@media screen and (min-width: 768px) {
    .section-cards {
        
        display:flex;
        justify-content: center;
        margin-top: 200px;
       
        
    }

    .boy-museum {
       width: 500px;
       min-width: 500px;
     }

     .museum-info {
        display:flex;
        margin: 40px;
    
     }

    

    

 
}


  