@import "css/styles.css";

html {
    height: 100%;
    
    box-sizing: border-box;
    
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin:0;
    overflow-x: hidden;
    
   }

   :root {
    --main-font:'Ubuntu', sans-serif;
    --second-font:'roboto', sans-serif;
    --darkblue: #005F73;
    --lightblue:#0A9396;
    --greenblue:#94D2BD;
    --yellow: #E9D8A6;

}

   body {
    height: 100%;
    margin:0px;
    
   }

   h1 {
    font-family: var(--main-font);
    color: var(--lightblue);
    font-size: 2em;
    margin:20px;

   }

   h2 {
    font-family: var(--second-font);
    color:#282828;
   }

 
   .museum-info p {
    
    margin:20px;
   }

  

   .section-cards {
    display:Flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 400px;
    margin:20px;
    border-radius: 20px;
    max-width: 1380px;
    justify-content: center;
   }

   

  .card-visit-info {
    width: 300px;
    background: #E9D8A6;
    margin:5px;
    border-radius: 20px;
    padding-top:30px;
 
    

  }

  p {
    font-family: var(--second-font);
    font-weight:300;
   font-size: 18px;
   margin-top: 5px;
  }

  a:visited {
   text-decoration: none;
  }

 .guided {
    background: #94D2BD;
 }			

 .Accessibility {
    background:  #0A9396;
 }

 .shop {
    background:#0A9396;

 }

 .location{
    background: #94D2BD;;

 }

 .fa-solid {
    background: white;
    padding:40px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px; 
 }

 .boy-museum {
    width: 100%;
    
 }

 .card-icon {
    display:flex;
    justify-content: center;
  }

  .card-visit-text {
   padding:30px;
    
   
  }
@media screen and (min-width: 768px) {
   .all-cards {
      display:flex;
      justify-content: center;
      align-items: center;
   }
    .section-cards {
      margin-top: 200px;
      display: flex;
      justify-content: center;
    }

    .boy-museum {
       width: 500px;
       min-width: 500px;
       border-radius: 30px;
     }

     .museum-info {
      display:flex;
      flex-direction: row;
      justify-content: center;
      padding:60px;
   
      }
       
      .museum-joinus {
         width:400px;
      }
    

     .card-visit-info {
        width: 400px;
        

     }

     .visit {
      text-decoration: underline;
     }

     

    

    

 
}


  