@import "css/styles.css";

html {
    height: 100%;
    
    box-sizing: border-box;
    
   }
   html:focus-within {
    scroll-behavior: smooth;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin:0;
    overflow-x: hidden;
    
   }

   :root {
    --main-font:'Ubuntu', sans-serif;
    --second-font:'roboto', sans-serif;
    --darkblue: #005F73;
    --lightblue:#0A9396;
    --greenblue:#94D2BD;
    --yellow: #E9D8A6;

}

   body {
    height: 100%;
    margin:0px;
    
   }

   header {
    background: var(--darkblue);
    padding:30px;
   }



   h1 {
    font-family: var(--main-font);
    color: var(--lightblue);
    font-size: 2em;

   }

   h2 {
    font-family: var(--second-font);
   }

 
   .museum-info p {
    width: 400px;
   }

  

   .section-cards {
    display:Flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 400px;
    margin:20px;
    border-radius: 20px;
    max-width: 1380px;
   }

   

  .card-visit-info {
    width: 300px;
    background: #005F73;
    margin:5px;
    
    border-radius: 20px;
    padding-top:30px;
    

  }

  p {
    font-family: var(--second-font);
    font-weight:100;
   font-size: 18px;
   margin-top: 5px;
   


    

  }

 .guided {
    background: #0A9396;
 }			

 .Accessibility {
    background: #94D2BD;
 }

 .shop {
    background: #94D2BD;

 }

 .location{
    background: #0A9396;

 }

 .fa-solid {
    background: white;
    padding:40px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px; 
 }

 .boy-museum {
    width: 100%;
    
 }

 .card-icon {
    display:flex;
    justify-content: center;
  }

  .card-visit-text {
    padding:30px;
    
   
  }
@media screen and (min-width: 768px) {
   .all-cards {
      display:flex;
      justify-content: center;
   }
    .section-cards {
   
        margin-top: 200px;
        
       
    }

    .boy-museum {
       width: 500px;
       min-width: 500px;
       border-radius: 30px;
     }

     .museum-info {
        display:flex;
        gap:30px;
        justify-content: center;
        margin-top:50px;
         flex-wrap: wrap;
        
     
      }
       
    
     }

     .card-visit-info {
        width: 400px;
        

     }

     

    

    

 
}


  